[run]
# Inclure la racine et le dossier pages
source = .
omit =
    # On exclut les tests du calcul de couverture
    tests/*
    # On exclut les fichiers de configuration et les environnements virtuels
    conftest.py
    venv/*
    .venv/*
    */__pycache__/*
    # On exclut les scripts de maintenance si on ne veut pas les tester
    creation_base.py
    alimentation_base.py
    exportation_base.py
    verif_base.py

[report]
# Affiche les lignes manquantes
show_missing = True
# Ignore les erreurs si un fichier est introuvable
ignore_errors = True